<div class="unit-5 overlay" style="background-image: url('assets/images/hero_bg_2.jpg');">
  <div class="container text-center">
    <h2 class="mb-0">Category</h2>
    <p class="mb-0 unit-6"><a href="/home">Home</a> <span class="sep">></span> <span>Category</span></p>
  </div>
</div>


<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-start text-left mb-5">
      <div class="col-md-9" data-aos="fade">
        <span class="text-gray-500">Category</span>
        <h2 class="font-weight-bold text-black">Full Time</h2>
      </div>
      <div class="col-md-3" data-aos="fade" data-aos-delay="200">
        <div class="select-wrap mr-auto">
          <span class="icon-keyboard_arrow_down arrow-down"></span>
          <select name="" id="" class="form-control">
            <option value="">Category</option>
            <option value="fulltime" selected>Full Time</option>
            <option value="fulltime">Part Time</option>
            <option value="freelance">Freelance</option>
            <option value="internship">Internship</option>
            <option value="internship">Termporary</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade">
     <div class="col-md-12">

       <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
           <div class="job-post-item-header d-flex align-items-center">
             <h2 class="mr-3 text-black h4">Frontend Development</h2>
             <div class="badge-wrap">
              <span class="bg-danger text-white badge py-2 px-4">Full Time</span>
             </div>
           </div>
           <div class="job-post-item-body d-block d-md-flex">
             <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Facebook, Inc.</a></div>
             <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
           </div>
          </div>

          <div class="ml-auto">
            <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
            <a href="#" class="btn btn-primary py-2">Apply Job</a>
          </div>
       </div>

     </div>
    </div>

    <div class="row" data-aos="fade">
     <div class="col-md-12">
       <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
           <div class="job-post-item-header d-flex align-items-center">
             <h2 class="mr-3 text-black h4">Full Stack Developer</h2>
             <div class="badge-wrap">
              <span class="bg-success text-white badge py-2 px-4">Full Time</span>
             </div>
           </div>
           <div class="job-post-item-body d-block d-md-flex">
             <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Google, Inc.</a></div>
             <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
           </div>
          </div>

          <div class="ml-auto">
            <a href="#" class="btn btn-danger rounded-circle btn-favorite active"><span class="icon-heart"></span></a>
            <a href="#" class="btn btn-primary py-2">Apply Job</a>
          </div>

       </div>
     </div>
    </div>

    <div class="row" data-aos="fade">
     <div class="col-md-12">
       <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
           <div class="job-post-item-header d-flex align-items-center">
             <h2 class="mr-3 text-black h4">Open Source Interactive Developer</h2>
             <div class="badge-wrap">
              <span class="bg-warning text-white badge py-2 px-4">Full Time</span>
             </div>
           </div>
           <div class="job-post-item-body d-block d-md-flex">
             <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">New York Times</a></div>
             <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
           </div>
          </div>
          
          <div class="ml-auto">
            <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
            <a href="#" class="btn btn-primary py-2">Apply Job</a>
          </div>

       </div>
     </div>
    </div>

    <div class="row" data-aos="fade">
      <div class="col-md-12">
 
        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
           <div class="mb-4 mb-md-0 mr-5">
            <div class="job-post-item-header d-flex align-items-center">
              <h2 class="mr-3 text-black h4">Frontend Development</h2>
              <div class="badge-wrap">
               <span class="bg-warning text-white badge py-2 px-4">Full Time</span>
              </div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
              <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Facebook, Inc.</a></div>
              <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
            </div>
           </div>
 
           <div class="ml-auto">
             <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
             <a href="#" class="btn btn-primary py-2">Apply Job</a>
           </div>
        </div>
 
      </div>
     </div>

     <div class="row" data-aos="fade">
      <div class="col-md-12">
        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
 
           <div class="mb-4 mb-md-0 mr-5">
            <div class="job-post-item-header d-flex align-items-center">
              <h2 class="mr-3 text-black h4">Full Stack Developer</h2>
              <div class="badge-wrap">
               <span class="bg-warning text-white badge py-2 px-4">Full Time</span>
              </div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
              <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">Google, Inc.</a></div>
              <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
            </div>
           </div>
 
           <div class="ml-auto">
             <a href="#" class="btn btn-danger rounded-circle btn-favorite active"><span class="icon-heart"></span></a>
             <a href="#" class="btn btn-primary py-2">Apply Job</a>
           </div>
 
        </div>
      </div>
     </div>
    
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <div class="site-block-27">
          <ul>
            <li><a href="#"><i class="icon-keyboard_arrow_left h5"></i></a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="icon-keyboard_arrow_right h5"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>    
