
<div class="unit-5 overlay" style="background-image: url('assets/images/hero_bg_2.jpg');">
  <div class="container text-center">
    <h2 class="mb-0">Post a Job</h2>
    <p class="mb-0 unit-6"><a href="index.html">Home</a> <span class="sep">></span> <span>Post a Job</span></p>
  </div>
</div>




<div class="site-section bg-light">
  <div class="container">
    <div class="row">
   
      <div class="col-md-12 col-lg-8 mb-5">
      
        
      
        <form action="#" class="p-5 bg-white">
          
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label for="option-price-1">
                <input type="checkbox" id="option-price-1"> <span class="text-success">$300</span> For 30 days
              </label>
            </div>
            <div class="col-md-12 mb-3 mb-md-0">
              <label for="option-price-2">
                <input type="checkbox" id="option-price-2"> <span class="text-success">$200</span> / Monthly Recurring
              </label>
            </div>
          </div>


          
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="fullname">Job Title</label>
              <input type="text" id="fullname" class="form-control" placeholder="eg. Full Stack Frontend">
            </div>
          </div>

          <div class="row form-group mb-5">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="fullname">Company</label>
              <input type="text" id="fullname" class="form-control" placeholder="eg. Facebook, Inc.">
            </div>
          </div>

          
          <div class="row form-group">
            <div class="col-md-12"><h3>Job Type</h3></div>

            <div class="col-md-12 mb-3 mb-md-0">
              <label for="option-job-type-1">
                <input type="radio" id="option-job-type-1" name="job-type"> Full Time
              </label>
            </div>

            <div class="col-md-12 mb-3 mb-md-0">
              <label for="option-job-type-2">
                <input type="radio" id="option-job-type-2" name="job-type"> Part Time
              </label>
            </div>

            </div>
            
          
          <div class="row form-group mb-4">
            <div class="col-md-12"><h3>Location</h3></div>
            <div class="col-md-12 mb-3 mb-md-0">
              <input type="text" class="form-control" placeholder="New York City">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12"><h3>Job Description</h3></div>
            <div class="col-md-12 mb-3 mb-md-0">
              <textarea name="" class="form-control" id="" cols="30" rows="5"></textarea>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Post" class="btn btn-primary  py-2 px-5">
            </div>
          </div>


        </form>
      </div>

      <div class="col-lg-4">
        <div class="p-4 mb-3 bg-white">
          <h3 class="h5 text-black mb-3">Contact Info</h3>
          <p class="mb-0 font-weight-bold">Address</p>
          <p class="mb-4">203 Fake St. Mountain View, San Francisco, California, USA</p>

          <p class="mb-0 font-weight-bold">Phone</p>
          <p class="mb-4"><a href="#">+1 232 3235 324</a></p>

          <p class="mb-0 font-weight-bold">Email Address</p>
          <p class="mb-0"><a href="#">youremail@domain.com</a></p>

        </div>
        
        <div class="p-4 mb-3 bg-white">
          <h3 class="h5 text-black mb-3">More Info</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad iure porro mollitia architecto hic consequuntur. Distinctio nisi perferendis dolore, ipsa consectetur</p>
          <p><a href="#" class="btn btn-primary  py-2 px-4">Learn More</a></p>
        </div>
      </div>
    


  
  
  </div>
    </div>
  </div>


